body {
    background-color: black;
    color: greenyellow;
    display: block;
    font-size: 256px;
    font-size-adjust: auto;
    margin: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}